@import url(./media.css);

.color_text{
    color: rgb(207, 170, 4);
    font-size: 12px;
}

.main_about{
    width: 70%;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    /* margin-left: 300px; */
    
}
.about_right{
    margin-left: 30px;
    margin-top: 40px;
    /* width: 40%; */
}

.video_coffee{
    width: 100%;
    height: 350px;
}
