*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1500px){
    .main_welcome{
        width: 40%;
        margin-right: 10%;
    }
    nav{
        margin-left: 30%;
    }   
    .header-logo{
        margin-left: 8%;
    }

    .video_coffee{
        width: 80%;
    }
    .coffee{
        margin-right: 10px !important;
    }
}

@media screen and (max-width: 1240px){
    .main_welcome{
        width: 50%;
        margin-right: 10%;
    }
    nav{
        margin-left: 30%;
    }   
    .header-logo{
        margin-left: 8%;
    }
    .video_coffee{
        width: 70%;
    }
    .card{
        margin-left: 0px !important;

    }
    .row{
        justify-content: center;
    }
}

@media screen and (max-width: 1010px){
    .main_welcome{
        width: 70%;
        margin-right: 10%;
    }

    .header-logo{
        margin-left: 8%;
    }
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }
    
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        left: -200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }

    .video_coffee{
        width: 60%;
    }

}

@media screen and (max-width: 710px){
    .main_welcome{
        width: 84%;
        height: 200px;
        margin-right: 10%;
        margin-top: 10px;
        
    }
    .about_right{
        margin-top: 20px !important;
        
    }

    .zagolovok1{
        font-size: 18px;
    }
    .header-logo{
        margin-left: 8%;
    }
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        left: -200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }

    .main_about{
        flex-direction: column;
        margin-top: 20px !important;

    }

    .video_coffee{
        width: 100%;
        height: 100px !important;
    }

    .row{
        flex-direction: column !important;
        height: 400px !important;
        margin-bottom: 15px !important;
        align-items: center !important;

    }

    .card{
        margin-bottom: 30px !important;
        margin-left: 0px !important;
        height: 130px !important;

    }
    .coffee{
        padding-top: 10px;
    }

    .head{
        font-size: 20px !important;
    }
    .subhead{
        font-size: 12px !important;
    }

}