.red {
    background-color: red;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 100px;
    top: 500px;
}

.vertical {
    background-color: white;
    width: 180px;
    height: 50px;
    position: absolute;
    left: 135px;
    top: 600px;
    border-radius: 5%;
}

.horizontal {
    background-color: white;
    width: 50px;
    height: 180px;
    position: absolute;
    left: 200px;
    top: 535px;
    border-radius: 5%;
}

.red__second{
    background-color: red;
    transform: translate(410px, 90px);
    width: 250px;
    height: 250px;

}

.vertical__second{
    background-color: white;
    width: 50px;
    height: 180px;
    transform: translate(512px, -175px);
    border-radius: 5%;

}

.horizontal__second{
    background-color: white;
    width: 180px;
    height: 50px;
    transform: translate(448px, -60px);
    border-radius: 5%;
    

}
