*{
    margin: 0px;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(214, 214, 214);
    font-size: 30px;
    text-align: center;
}
.main__top{
    display: flex;   
    height: 318px;    
}
.main__item{
    height: 318px;
    width: 50%;
}

.main__item_viol{
    background-color: hsl(262, 96%, 63%);
}

.main__item_blue{
    background-color: #178ef6;
}

.main__medium{
    height: 318px;
    background-color: rgb(144, 198, 245);
}

.main__bottom{
    height: 300px;
    background-color: #178ef6;
}

.main__bottom img{
    height: 300px;
}